*.features.mat.txt
*.tar.gz
*.zip
*.dx
*.scene
*.png
*.save.?
COMPUTABLE_BRAIN/ELEPHANT_IMAGES_LA1/IMAGES/*
*.gif
*.nii.gz
COMPUTABLE_BRAIN/DHTMLX_INFO/
PIPELINE_ITERATIONS/PIPELINE_DATA_ANALYSIS_SCRIPTS/SAMPLE_DATA/
nohup.out
*.jpg
COMPUTABLE_BRAIN/DBS_JS_VIEWER/DBS_ANALYSIS/
*.hdr
*.img
